*{
    background-color: bisque;
    margin: 0;
    text-align: center;
    /* border-top: 1px solid #000; */
    border-bottom: 1px solid #000 ;
}

h1{
    /* font-family: 'Times New Roman', Times, serif; */
}

div{
    text-align: left;
    margin-bottom: 1px;
}

body{
    border-bottom: 0 ;
}

html{
    border-bottom: 0 ;
}